html { 
    height: 100% 
}

body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
    position: relative;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
}

a, a:hover, a:active, a:focus {
    outline: 0;
}

h2 {
	font-size: 30px;
}

p {
	font-size: 18px;
	font-weight: 400;
    text-align:justify;
}

header {
	padding: 0px 0 62px;
	text-align: center;
	background-color: #2b2b2b;
	background-repeat: no-repeat;
	background-position: center bottom;
    box-shadow: 10px 10px 250px 100px #000 inset;
}

#map_canvas { 
    height: 100% 
}

.logo-name{
	padding-top: 62px;
}

.logo-name img{
    width: 100%;
    max-width: 600px;
}

.logo-link {
	font-size: 3em;
	letter-spacing: -0.04em;
}

.tagline, .logo-link, .logo-link:hover {
	color: #fff;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

.call-action-area .call-action-link {
	background-color: #fddd52;
	background-image: -moz-linear-gradient(top, #fddd52 30%, #f0a303 150%);
	background-image: -webkit-linear-gradient(top, #fddd52 30%, #f0a303 150%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fddd52', endColorstr='#f0a303');
	background-image: linear-gradient(top, #fddd52 30%, #f0a303 150%);
	color: #2b2b2b;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), inset 0 -2px 3px 0 #cc7f0a, inset 0 1px 0 0 #fff9b1;
	border-radius: 40px;
}

.call-action-area .call-action-link {
	position: relative;
	cursor: pointer;
	display: inline-block;
	padding: 15px 30px;
	font-size: 2em;
	line-height: 1em;
	vertical-align: center;
	letter-spacing: -0.02em;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	margin-top: 50px;
}

body { margin-top: 50px; }

section {
    padding-top: 50px;
    margin-top: -50px;
}

.navbar-default{
	background-image: linear-gradient(to bottom, #F8F8F8 0px, #DDD 90%);
}

footer {
	margin: 50px 0 0 0;
	background-color: #f8f8f8;
	border-top: 2px solid #CCC;
	padding: 30px;
}
h2.subtitle {
	margin-bottom: 20px;
}


.schedule-tbl {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
	padding: 20px;
}

.schedule-tbl table {
	border-collapse: collapse;
	font-size: 1em;
}

#eventick{
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
#search-route {
    width: 100%;
    margin: auto;
    padding: 0 5px;
    margin: 10px 0px 20px 0px;
}
#directions-panel {
    box-shadow: 0px 5px 10px 0px #838888;
    width: 100%;
    margin: auto;
    margin-top: -10px;
}
#directions-panel .adp-directions {
    width: 100%;
}
#directions-panel .adp-directions td {
    margin: 50px;
}

#map_canvas {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
    padding: 20px;
}

@media (max-width: 480px) {
    .logo-link {
        font-size: 2em;
        letter-spacing: -0.04em;
    }
}

#apoio {
    margin-top: 50px;
    padding-top: 0px;
}

footer .github, footer .github p{
    text-align: center;
}

footer {
    padding-bottom: 0;
}

.apoio-item, .partner-item {
    display: inline-block;
    margin: 0 30px 30px 0;
}

.apoio-link, .partner-link {
    display: block;
    width: 170px;
    height: 170px;
    text-align: center;
    vertical-align: middle;
    line-height: 170px;
}

.photo {
    max-width: 100%;
    position: relative;
    top: -1px;
}

.apoio-link, .partner-link {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

a.apoio-logo.apoio-link:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 1.15);
}

.speech-container{
    padding-bottom: 20px;
    padding-top: 60px;
    margin-top: -30px;
    border-bottom: 2px #e7e7e7 solid;
}

.speech-title {
    font-size: 20px;
    margin: 0px 0px 0px 58px;
}

.speech-time {
  font-size: 16px;
  padding: 5px;
  letter-spacing: -0.03em;
  color: #fff;
  background: #2b2b2b;
  border-radius: 4px;
  margin-bottom: 5px;
  float:left;
}

.speech-info{
    display: inline-block;
    width: 89%
}

.speech-info > *{
    margin-left:58px;
}

.speech-description{
    font-weight:normal;
    text-align: justify;
    display: block;
}

.speaker-name{
    display:block;
    font-size: 20px;
    margin: 10px 0px 0px 58px;
}

.speaker-bio{
    font-weight:normal;
    text-align: justify;
    display:block;
}

.speaker-photo {
    height: 120px;
    width: 120px;
    display: inline-block;
    vertical-align: top;
}

.speaker-photo .photo {
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.07);
    transition: all 0.3s ease-out 0s;
}

.photo {
    max-width: 100%;
    position: relative;
    top: -1px;
}

img {
    border: 0 none;
    vertical-align: inherit;
}

.show-info, .hide-info{
    margin-left: 5px;
    color: black;
    outline: 0;
    text-decoration: none;
}

.show-info:focus, .hide-info:focus{
    margin-left: 5px;
    color: black;
    outline: 0;
    text-decoration: none;
}

.show-info span, .hide-info span{
    margin-left: 5px;
}

.hide-info-desc{
    margin-left: 0px; 
}

.schedule-slot a{
    color: rgb(51, 51, 51);
}

.lightning-talk{
    color: #777;
}

.carousel.slide{
  max-width: 768px;
  margin: auto;
}

.carousel-indicators{
  bottom: 0;
}

.evento-anterior{
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    padding: 15px;
}